[Unit]
Description="OpenWRT"
After=network.target

[Service]
Type=simple
ExecStart=
ExecStartPost=/bin/echo "Exit code is \"$?\""
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
